---
layout: "default" 
---
<a href="{{site.url}}/podcasts">Podcasts</a>
<h1>{{ page.title }}</h1>
{% assign podcast = page %}
<p class="center-on-mobile">
	<img class="img-show" src="{{site.url}}/images/{{ podcast.image }}" />
</p>

<p class="center-on-mobile">
	<span class="social">
	{% if podcast.facebook %}
		<a class="sfmsb-icon-facebook sfmsb-circle" href="https://facebook.com/{{ podcast.facebook }}" target="_blank" title="{{ podcast.title }} on Facebook">&zwnj;</a>
	{% endif %}
	
	{% if podcast.twitter %}
	<a class="sfmsb-icon-twitter sfmsb-circle" href="https://twitter.com/{{ podcast.twitter }}" target="_blank" title="{{ podcast.title }} on Twitter">&zwnj;</a>
	{% endif %}
	
	{% if podcast.soundcloud %}
	<a class="sfmsb-icon-soundcloud sfmsb-circle" href="https://soundcloud.com/{{ site.soundcloud }}/sets/{{ podcast.soundcloud }}" target="_blank" title="{{ podcast.title }} on SoundCloud">&zwnj;</a>
	{% endif %}
	
	{% if podcast.itunes %}
	<a class="sfmsb-icon-itunes sfmsb-circle" href="https://itunes.apple.com/gb/podcast/{{ podcast.itunes }}" target="_blank" title="{{ podcast.title }} on iTunes">&zwnj;</a>
	{% endif %}
	
	<a class="sfmsb-icon-feed sfmsb-circle" href="feed.xml" target="_blank" title="{{ podcast.title }} RSS">&zwnj;</a>
	
	</span>
	
	<br />
	<p>
		{{ podcast.description }}
	</p>
	<p>
		{{ podcast.long-description }}
	</p>
	{{content}}
</p>

<hr>

{% if podcast.soundcloud %}
  <h3>Listen now</h3>
	<iframe width="100%" height="350" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/{{ podcast.soundcloud-playlist }}&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
{% endif %}

<br /><br /><br />
<hr>
<h3 title="Oliver Episodes">All of our episodes</h3>
<ul>
  {% assign episodes = site.episodes | sort: 'number' %}
  {% for ep in episodes reversed %}
    {% assign ep-path = ep.relative_path | split: "/" %}
     {% if ep-path[1] == podcast.id %}
     <li>
     <a href="{{ep.url}}">
      {{ep.number}} {{ep.title}}
      {% if ep.guest %}
        (Feat. {{ep.guest}})
      {% endif %}
     </a> 
     <span class="date">
      <time datetime="{{ep.pub-date}}" title="{{ep.pub-date}}">{{ep.pub-date | date: '%-d %B %Y' }}</time>
      </span>
     </li>
     {% endif %}
   {% endfor %}
</ul>